
@{ 
    var page = Page;
    var name = page[0];
    var mob = page[1];
}
<html>
<body>
    <div> 
        <h2>This is Index 2 Page Data</h2>  
        <h5> @name  @mob  </h5>
    </div>
</body>
</html>
