
@section headerSection
{
    <h5> this header data pass from child page </h5>
}

<div> This Is Index Page Body </div>

@section footerSection
{
    <h5> this footer data pass from child page </h5>
}

@RenderPage("~/Views/Home/Index2.cshtml")